
body {
    padding-top: 50px;
	width: 90%;
	border: 2px solid black;
	box-sizing: border-box;
	min-width: 500px;
	min-height: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
    text-align: center;
}

.layout{
	// grid layout
    display: grid;
    grid-template-areas:
    "hl ht ht"
    "s c_l c_r"
    "s f f";
    grid-gap: 10px;
}

.block{
	width: 90%;
//	min-width: 500px;
//	min-height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 20px;
	background-color: rgba(247,244,217,0.5);
}

header{
    height: 50px;
    border: 2px solid black;
}

#title{
    //    width: 60%;
    grid-area: ht;
    display: table-cell;
    vertical-align: middle;
	height: 50px;
    float: right;
    padding: 10px;
    border: 2px solid black;
}

#logo{
    grid-area: hl;
    float: left;
    height: auto;
    width: auto;
    max-width: 40px;
    max-height: 40px;
    padding: 10px;
    border: 2px solid black;
}

#sidebar{
    float: left;
    grid-area: s;
    border: 2px solid black;
}

#container-left{
    grid-area: c_l;
//	width: 80%;
	border: 2px solid black;
//	min-width: 500px;
//	min-height: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#container-right{
    grid-area: c_r;
    border: 2px solid black;
}

#footer{
    grid-area: f;
    border: 2px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

