{% extends 'base.html' %}

{% block content_top %}
    {% if page_title %}
    <h2>{{ page_title }}</h2>
    {% else %}
    <h2>Statistics</h2>
    {% endif %}
    <h5>Show user statistics</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
{% endblock %}

{% block content_bott %}
    <h2>Nice graph</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
{% endblock %}

{% block side_top %}
    <h2>Who is online</h2>
    <div class="fakeimg" style="height:100px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
{% endblock %}

{% block side_bott %}
    <h3>More stats</h3>
    <div class="fakeimg"><p>Image</p></div>
    <div class="fakeimg"><p>Image</p></div>
    <div class="fakeimg"><p>Image</p></div>
{% endblock %}
